{{!< layout}}

<main id="main" class="main">
    <div class="main-inner">
        <div class="content-wrap">
            <div id="content" class="content">
                <section id="posts" class="posts-expand">
                    {{#foreach posts}}
                        <article class="post {{post_class}}">
                            <header class="post-header">
                                <h1 class="post-title" itemprop="name headline">
                                    <a class="post-title-link" href="{{url}}">{{title}}</a>
                                </h1>
                                <div class="post-meta">
                                    <span class="post-time">
                                        <span class="post-meta-item-text">由</span>
                                        {{author}}
                                        <span class="post-meta-item-text">发表于</span>
                                        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY-MM-DD"}}</time>
                                    </span>
                                </div>
                            </header>
                            <div class="post-body">
                                {{content words="80"}}
                                <div class="post-more-link text-center">
                                    <a class="btn" href="{{url}}">阅读全文 »</a>
                                </div>
                            </div>
                            <div></div>
                            <footer class="post-footer">
                                <div class="post-eof"></div>
                            </footer>
                        </article>
                    {{/foreach}}
                </section>

                {{pagination}}
            </div>
        </div>
    </div>
</main>
